@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'circe-bold';
  src: url(./src/fonts/circe_bold.ttf) format('truetype'),
  url(./src/fonts/circe_bold.woff) format('woff'),
  url(./src/fonts/circe_bold.woff2) format('woff2');
}

@font-face {
  font-family: 'circe';
  src: url(./src/fonts/circe_light.ttf) format('truetype'),
  url(./src/fonts/circe_light.woff) format('woff'),
  url(./src/fonts/circe_light.woff2) format('woff2');
}

body {
  font-family: 'circe-bold', sans-serif;
}

.text-bold {
  font-family: 'circe-bold', sans-serif;
}

.text-regular {
  font-family: 'circe', sans-serif;
}

button {
  font-family: 'circe', sans-serif;
}

a:hover {
  color: rgb(252, 127, 127);
}